<div class="ims-panel-header full-width content-inline" style="display: flex;">
    <div style="padding: 0px 28px;">
        <span class="ims-text" >{{'CLAIM.PROCESS_DETAILS.CLAIM_TO'|translate}} {{supperClaim.superClaimStatus|enumTranslate:superClaimStatus}}</span>
        <span class="invalid-text" *ngIf="supperClaim?.irregularSuperClaimFlag">{{'CLAIM.PROCESS_DETAILS.DEVIATION'|translate}}</span>
        <span class="invalid-text" *ngIf="supperClaim?.inquiryPorcessFlag">{{'CLAIM.PROCESS_DETAILS.OBVIOUSLY'|translate}}</span>
    </div>
    
    <div style="padding: 0px 28px;">
        <span class="ims-text">{{'CLAIM.PROCESS_DETAILS.CLAIM_STATUS'|translate}} </span>
        <span class="ims-text" >{{supperClaim.superClaimStatus|enumTranslate:superClaimStatus}}</span>
    </div>
    <div style="padding: 0px 28px;">
        <span class="invalid-text" *ngIf="supperClaim.deathAfterDisabilityFlag">{{'CLAIM.PROCESS_DETAILS.DEATH_FROM_DISABILITY'|translate}}</span>
    </div>
    <div style="padding: 0px 28px;">
        <span class="ims-text">{{'CLAIM.PROCESS_DETAILS.PARTICIPATING_CLAIMS'|translate}} </span>
        <span class="ims-text long-text width-percent-40" >{{getClaims()}}</span>
    </div>
    <div >
        <button class="button button-dark" (click)="refresh()">
            {{'CLAIM.PROCESS_DETAILS.PROCESS_REFRESH'|translate}}
        </button>
    </div>
</div>
